.login-title {
    margin-bottom: 2rem;
    font-size: x-large;
    color: bisque;
}

form {
    display: grid;
    gap: 0.7rem;
}

button {
    background-color: #2a60eb; 
    color: white; 
    padding: 1rem;
    margin: 1rem;
    border-radius: 16px;
    cursor: pointer;
}

button:hover {
    opacity: 0.85;
}

input {
    height: 25px;
    border-radius: 8px;
    padding: 0.5rem;
    border: none;
}

input:focus {
    outline: 2px solid #a7a4a4;
}

button:disabled {
    opacity: 0.3;
}
