.login-wrapper {
    display: grid;
    place-items: center;
    background-color: rgb(46, 42, 37);
    /* color: white; */
    padding: 3rem 5rem;
    border-radius: 2rem;
    box-shadow: white 5px 5px 55px 10px;
    position: absolute;
    left: 40%;
    top: 20%;
}

.login-input {
    height: 25px;
    justify-content: center;
    border-radius: 8px;
    padding: 0.5rem;
    margin: 1rem 0;
    border: none;
}

.login-title {
    margin-bottom: 2rem;
    font-size: x-large;
    color: bisque;
}

form {
    display: grid;
    gap: 0.7rem;
}

button {
    background-color: #2a60eb; 
    color: white; 
    padding: 1rem;
    margin: 1rem;
    border-radius: 16px;
    cursor: pointer;
}

button:hover {
    opacity: 0.85;
}

input:focus {
    outline: 2px solid #2a60eb;
}

button:disabled {
    opacity: 0.3;
}
