html {
    display:grid;
    place-content: center;
    width: 100%;
    height: 100%;
    background-color: blanchedalmond;
} 

.wrapper {
    background-color: rgb(44, 41, 37);
    color: white;
    padding: 3rem 5rem;
    border-radius: 8px;
}

button:disabled {
    opacity: 0.3;
}