@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    background-color: blanchedalmond;
} 

.wrapper {
    display:inline-grid;
    justify-items: center;
    background-color: rgb(44, 41, 37);
    color: white;
    padding: 3rem 5rem;
    border-radius: 8px;
}

button:disabled {
    opacity: 0.3;
}