@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #d4b98d;   
    height: 95vh;
}  

body.dark-mode {
    background-color: #222;
    color: #fff;
}

.main-section {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    margin-top: 2rem;
}

.books-section {
    display: grid;
    justify-items: center;
    grid-template-columns: 300px; 
    border-radius: 20px;
}